h1 {
  font-size: 35px;
  text-align: center;
  padding: 8px;
  margin-top: -2px;
}
.row {
  text-align: center;
}
.current-info {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 90px;
}
.unit {
  font-size: 40px;
  position: relative;
  top: 10px;
}
.current-image {
  border-radius: 5px;
  width: 180px;
  height: 180px;
  padding: 0;
}

.details {
  margin-top: -10px;
  font-size: 18px;
  line-height: 25px;
}
.WeatherDescription {
  margin-top: 15px;
  font-weight: bold;
  font-size: 13px;
  margin: 15px 10px;
  line-height: 15px;
}
.card-forecast {
  margin: 10px auto;
  padding: 20px;
  max-width: 500px;
  background-color: rgb(228, 240, 247);
  box-shadow: 5px 5px 5px;
  border-radius: 5px;
}

.max {
  font-weight: bold;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
}
.signOff {
  margin-top: 10px;
  text-align: center;
}
a {
  color: black;
}
